#game{
    display: flex;
    justify-content: center;
}
.block {
    width: 22;
    height: 22;
    fill: white;
}
.set{
    fill: gray;
}
.moving{
    fill: maroon;
}
svg{
    margin: 16;
    width: 253px;
    height: 503px;
    background-color: black;
}